In [ ]:
# Some data values are changed as below:

# changed gas to fuel
# changed (rwd, fwd, & 4wd) to (rear wd, front wd & four wd) respectively
# changed audi to proton, and bmw to perodua

In [2]:
# importing numpy and pandas
# open up the dataset

import numpy as np
import pandas as pd

file = 'auto-new.csv'

cars = pd.read_csv('auto-new.csv')

In [3]:
cars.head()

,3,?,alfa-romero,fuel,std,two,convertible,rear wd,front,88.6,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
0,3,?,alfa-romero,fuel,std,two,convertible,rear wd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,fuel,std,two,hatchback,rear wd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,proton,fuel,std,four,sedan,front wd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,proton,fuel,std,four,sedan,four wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,?,proton,fuel,std,two,sedan,front wd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250

In [4]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
"drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
"num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
"peak-rpm","city-mpg","highway-mpg","price"]
print("headers\n", headers)

headers
 ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [5]:
# inserting the headers to the data

cars.columns = headers
cars.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,fuel,std,two,convertible,rear wd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,fuel,std,two,hatchback,rear wd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,proton,fuel,std,four,sedan,front wd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,proton,fuel,std,four,sedan,four wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,?,proton,fuel,std,two,sedan,front wd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250

In [6]:
# types of data

cars.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [7]:
# getting to know the size of the data

cars.shape

(204, 26)

In [8]:
# observing the data

cars.describe(include ='all')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,204.000000,204,204,204,204,204,204,204,204,204.000000,...,204.000000,204,204,204,204.000000,204,204,204.000000,204.000000,204
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,186
top,NaN,?,toyota,fuel,std,four,sedan,front wd,front,NaN,...,NaN,mpfi,3.62,3.4,NaN,68,5500,NaN,NaN,?
freq,NaN,40,32,184,167,114,96,120,201,NaN,...,NaN,93,23,20,NaN,19,37,NaN,NaN,4
mean,0.823529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.806373,...,126.892157,NaN,NaN,NaN,10.148137,NaN,NaN,25.240196,30.769608,NaN
std,1.239035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.994144,...,41.744569,NaN,NaN,NaN,3.981000,NaN,NaN,6.551513,6.898337,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.575000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,119.500000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,142.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.500000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [10]:
# dealing with the missing values

cars.replace('?', np.nan, inplace = True)
cars.head(7)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,fuel,std,two,convertible,rear wd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,NaN,alfa-romero,fuel,std,two,hatchback,rear wd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,proton,fuel,std,four,sedan,front wd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,proton,fuel,std,four,sedan,four wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,NaN,proton,fuel,std,two,sedan,front wd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
5,1,158,proton,fuel,std,four,sedan,front wd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
6,1,NaN,proton,fuel,std,four,wagon,front wd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920

In [11]:
#to find the number of missing values

missing_data = cars.isnull()
missing_data.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
#to count how many true and false in a column

for column in missing_data.columns.values.tolist():  
    print(column)
    print(missing_data[column].value_counts())
    print("")

symboling
False    204
Name: symboling, dtype: int64

normalized-losses
False    164
True      40
Name: normalized-losses, dtype: int64

make
False    204
Name: make, dtype: int64

fuel-type
False    204
Name: fuel-type, dtype: int64

aspiration
False    204
Name: aspiration, dtype: int64

num-of-doors
False    202
True       2
Name: num-of-doors, dtype: int64

body-style
False    204
Name: body-style, dtype: int64

drive-wheels
False    204
Name: drive-wheels, dtype: int64

engine-location
False    204
Name: engine-location, dtype: int64

wheel-base
False    204
Name: wheel-base, dtype: int64

length
False    204
Name: length, dtype: int64

width
False    204
Name: width, dtype: int64

height
False    204
Name: height, dtype: int64

curb-weight
False    204
Name: curb-weight, dtype: int64

engine-type
False    204
Name: engine-type, dtype: int64

num-of-cylinders
False    204
Name: num-of-cylinders, dtype: int64

engine-size
False    204
Name: engine-size, dtype: int64

fuel-system
False    204
Name: fuel-system, dtype: int64

bore
False    200
True       4
Name: bore, dtype: int64

stroke
False    200
True       4
Name: stroke, dtype: int64

compression-ratio
False    204
Name: compression-ratio, dtype: int64

horsepower
False    202
True       2
Name: horsepower, dtype: int64

peak-rpm
False    202
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    204
Name: city-mpg, dtype: int64

highway-mpg
False    204
Name: highway-mpg, dtype: int64

price
False    200
True       4
Name: price, dtype: int64

In [13]:
# get the mean of normalized-loss

mean_normloss = cars['normalized-losses'].astype('float').mean(axis=0)
print(mean_normloss)

122.0

In [14]:
#replace current data with the mean value

cars['normalized-losses'].replace(np.nan, mean_normloss, inplace = True)
cars.head(5)

# as a result, row 0,1,4 are among the rows that have their values changed from nan to 122.

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,fuel,std,two,convertible,rear wd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,122,alfa-romero,fuel,std,two,hatchback,rear wd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,proton,fuel,std,four,sedan,front wd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,proton,fuel,std,four,sedan,four wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,122,proton,fuel,std,two,sedan,front wd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250

In [15]:
# count the values in the column 

cars['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
subaru           12
volkswagen       12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
perodua           8
plymouth          7
proton            7
saab              6
porsche           5
isuzu             4
chevrolet         3
jaguar            3
renault           2
alfa-romero       2
mercury           1
Name: make, dtype: int64

In [16]:
# count the maximum value in the column

cars['price'].value_counts().idxmax()

'8845'

In [17]:
#replace current data with the value, formula: replace(current value, new value, inplace = True )

cars['num-of-doors'].replace(np.nan, 'four', inplace = True)
cars.head(7)

# row 27 for example, has its value of nan changed to four

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,fuel,std,two,convertible,rear wd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,122,alfa-romero,fuel,std,two,hatchback,rear wd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,proton,fuel,std,four,sedan,front wd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,proton,fuel,std,four,sedan,four wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,122,proton,fuel,std,two,sedan,front wd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
5,1,158,proton,fuel,std,four,sedan,front wd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
6,1,122,proton,fuel,std,four,wagon,front wd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920

In [18]:
# dropping the rows of which price = true (missing value)

cars.dropna(subset = ['price'], axis=0, inplace = True)

In [19]:
# showing the size of the table with price = True

cars.shape

(200, 26)

In [20]:
#the type result for 'price' came out as object instead of integer/float. To change it:

cars['price'] = cars['price'].astype('float')

In [21]:
cars.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [22]:
# to create a new column based on the 'fuel-type' column (step 1)

dummyvar = pd.get_dummies(cars['fuel-type'])
dummyvar.head(7)

   diesel  fuel
0       0     1
1       0     1
2       0     1
3       0     1
4       0     1
5       0     1
6       0     1

In [23]:
#adding the above dataframe to the main data


cars = pd.concat([cars,dummyvar], axis=1)
cars.drop('fuel-type', axis = 1, inplace = True )
# we will see the diesel & fuel at the end of the table.
# fuel-type will be deleted.

In [24]:
cars.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,diesel,fuel
0,3,122,alfa-romero,std,two,convertible,rear wd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,27,16500.0,0,1
1,1,122,alfa-romero,std,two,hatchback,rear wd,front,94.5,171.2,...,2.68,3.47,9.0,154,5000,19,26,16500.0,0,1
2,2,164,proton,std,four,sedan,front wd,front,99.8,176.6,...,3.19,3.4,10.0,102,5500,24,30,13950.0,0,1
3,2,164,proton,std,four,sedan,four wd,front,99.4,176.6,...,3.19,3.4,8.0,115,5500,18,22,17450.0,0,1
4,2,122,proton,std,two,sedan,front wd,front,99.8,177.3,...,3.19,3.4,8.5,110,5500,19,25,15250.0,0,1